<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>

        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum excepturi esse officia, dolor reiciendis voluptatibus, error debitis voluptas ducimus aliquam in sed molestiae nostrum et autem libero ab asperiores id.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, voluptatibus magni? Deleniti, perspiciatis repellat provident ea cumque facere, aspernatur nam dolorem recusandae culpa sit vitae quae corporis commodi sequi reiciendis.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim velit, iure, saepe nisi recusandae voluptatum sint laudantium quidem, id iusto cupiditate repellendus repellat error ad officiis corrupti fuga ab voluptate.</p>
        </div>
        
        <%- include('./partials/footer.ejs') %>

    </body>
</html>